.head{
    position: relative;
    color: black;
    text-align: center; 
    font-size: 20px;
    background-color: greenyellow;
    padding: 68px;
    margin: auto;
    top: 0;
    left: 0;


}
.art{
    color: black;
    text-align: left; 
    font-size: 20px;
    background-color: white;
    padding: 8%;
    margin: 0px;
}
.foot{
    color: black;
    text-align: center; 
    font-size: 20px;
    background-color: greenyellow;
    padding: 2%;
    margin: 0px;
}
.nav{
    position: absolute;
    height: 53%;
    width: 20%;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(206, 235, 144);
    padding: 25px;
    margin: 0px;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.aside{
    position: absolute;
    height: 53%;
    width: 20%;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(181, 199, 142);
    padding: 25px;
    margin: 0px;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
}



body{
    display: flex;
    position: relative;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: space-between; 
}