.head{
    position: relative;
    color: black;
    text-align: center; 
    font-size: 20px;
    background-color: greenyellow;
    padding: 5%;
    margin: auto;
    top: 0;
    left: 0;


}
.art{
    color: black;
    text-align: center; 
    font-size: 20px;
    background-color: white;
    padding: 8%;
    margin: 0px;
}
.foot{
    color: black;
    text-align: center; 
    font-size: 20px;
    background-color: greenyellow;
    padding: 2%;
    margin: 0px;
}
.nav{
    position: fixed;
    height: 100%;
    width: 20%;
    color: black;
    text-align: center; 
    font-size: 20px;
    background-color: rgb(206, 235, 144);
    padding: 20px;
    margin: 0px;
    top: 0;
    left: 0;
}


body{
    display: flex;
    position: relative;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: space-between; 
}