.rectangle {
  position: absolute;
  width: 700px;
  height: 500px;
  border: 2px solid aqua;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square1 {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 2px solid red;
}

.square2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid red;
}

.square3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid red;
}

.square4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 2px solid red;
}

.circle1 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid green;
}

.circle2 {
  position: absolute;
  right: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid green;
}

.circle3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid green;
}

.circle4 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid green;
}